@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root,
a {
  /* cursor: none !important; */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none !important; */
}
html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}
