.sw_sc::after {
  content: "\203A";
  font-size: 1.5rem;
  display: inline-block;
  transform: rotateZ(90deg);
  margin-left: 1rem;
  margin-top: 5px;
  animation: animateArrow 3s linear infinite;
}
@keyframes animateArrow {
  0%,
  30%,
  60% {
    transform: translateY(1px) rotateZ(90deg);
  }

  15%,
  45% {
    transform: translateY(8px) rotateZ(90deg);
  }

  100% {
    transform: translateY(1px) rotateZ(90deg);
  }
}

@media screen and (max-width: 768px) {
  .mh-tle {
    word-spacing: 100vw;
    line-height: 1.2;
  }
}
